# Normalize line endings to LF for all files in the repo
* text=auto eol=lf

# Binaries
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
*.svg text

# Explicitly declare text files
*.ts text diff=typescript
*.tsx text diff=typescript
*.js text
*.jsx text
*.json text
*.md text
*.css text
*.html text
*.sql text
*.toml text
*.yaml text
*.yml text
